$endcard-plugin-highlight-color: #424242 !default;
$endcard-plugin-bg-color: #000 !default;
$endcard-plugin-tile-border: 2px solid #fff !default;
$endcard-plugin-title-bg: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.8) 100%
) !default;
$endcard-plugin-spacing-large: 16px !default;
$endcard-plugin-spacing-small: 12px !default;
$endcard-plugin-font-size-small: 12px !default;
$endcard-plugin-font-size-smaller: 10px !default;
$endcard-plugin-font-size-medium: 14px !default;
$endcard-plugin-font-size-large: 16px !default;
$endcard-plugin-text-color: #fff !default;
$endcard-plugin-button-pause-bg-color: rgba(255, 255, 255, 0.4) !default;
$endcard-plugin-button-pause-bg-color-hover: rgba(255, 255, 255, 0.2) !default;
$endcard-plugin-tile-overlay-bg: rgba(0, 0, 0, 0.4) !default;
$endcard-plugin-controlbar-height-mobile: 55px !default;

.plugin-endcard-container {
  background-color: $endcard-plugin-bg-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.plugin-endcard-overlay {
  position: absolute;
  width: 100%;
  bottom: $endcard-plugin-controlbar-height-mobile;
}

.plugin-endcard-tile,
.plugin-endcard-tile-replay {
  display: none;
  position: relative;
  float: left;
  width: 33.33%;
  height: 33.33%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.plugin-endcard-tile-replay {
  z-index: 101;
}

.plugin-endcard-tile-single,
.plugin-endcard-tile-0 {
  display: block;
  width: 100%;
  height: 100%;
}

.plugin-endcard-tile-0,
.plugin-endcard-tile-replay {
  &::before {
    content: "";
    position: absolute;
    background-color: $endcard-plugin-tile-overlay-bg;
    width: 100%;
    height: 100%;
  }
}

.plugin-endcard-tile-1,
.plugin-endcard-tile-2 {
  border-bottom: $endcard-plugin-tile-border;
}

.plugin-endcard-tile-replay,
.plugin-endcard-tile-3 {
  border-right: $endcard-plugin-tile-border;
}

.plugin-endcard-tile-single {
  border-right: none;
}

.plugin-endcard-thumbnail {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #000;
}

.plugin-endcard-title-pre {
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: $endcard-plugin-font-size-medium;
}

.plugin-endcard-title {
  margin: 0;
  padding: $endcard-plugin-spacing-small;
  width: 100%;
  box-sizing: border-box;
  color: $endcard-plugin-text-color;
  font-weight: bold;
  font-size: $endcard-plugin-font-size-medium;
}

.plugin-endcard-replay-title {
  margin: 0;
  padding-top: $endcard-plugin-spacing-small;
  text-align: center;
  font-size: $endcard-plugin-font-size-smaller;
  color: $endcard-plugin-text-color;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.plugin-endcard-button-pause {
  position: absolute;
  top: $endcard-plugin-spacing-large;
  right: $endcard-plugin-spacing-large;
  background-color: $endcard-plugin-button-pause-bg-color;
  color: $endcard-plugin-text-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $endcard-plugin-font-size-small;
  letter-spacing: 2px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.plugin-endcard-revolverplay-icon {
  display: block;
  margin: 0 auto;
}

.plugin-endcard-play-icon {
  display: block;
  margin: 0 auto $endcard-plugin-spacing-small;
}

.plugin-endcard-replay-icon {
  display: block;
  margin: 0 auto;
}

.plugin-endcard-progress-value {
  stroke: $endcard-plugin-highlight-color;
  stroke-linecap: round;
  transition: all 1s ease;
}

.stroeer-videoplayer .stroeer-videoplayer-ui.plugin-endcard-ui-small {
  height: $endcard-plugin-controlbar-height-mobile;
  top: inherit;
  bottom: 0;

  .default .video-overlay {
    background: none;
  }
}

@media only screen and (min-width: 769px) {
  .plugin-endcard-container {
    z-index: 101;
  }

  .plugin-endcard-tile {
    display: block;
  }

  .plugin-endcard-overlay {
    bottom: 0;
  }

  .plugin-endcard-title {
    background: $endcard-plugin-title-bg;

    .plugin-endcard-tile-0 & {
      font-size: $endcard-plugin-font-size-large;
      padding: $endcard-plugin-spacing-large;
    }
  }

  .plugin-endcard-tile-0 {
    width: 66.66%;
    height: 66.66%;
    border-right: $endcard-plugin-tile-border;
    border-bottom: $endcard-plugin-tile-border;
  }

  .plugin-endcard-tile-single {
    width: 100%;
    height: 100%;
    border-right: none;
    border-bottom: none;
  }

  .plugin-endcard-tile-replay {
    display: block;
    clear: left;

    .plugin-endcard-overlay {
      bottom: calc(50% - ((21px + #{$endcard-plugin-font-size-smaller} + #{$endcard-plugin-spacing-small}) / 2));
    }
  }

  .plugin-endcard-tile-1,
  .plugin-endcard-tile-2,
  .plugin-endcard-tile-3,
  .plugin-endcard-tile-4 {
    .plugin-endcard-overlay {
      transition: all 0.4s;
      opacity: 0;
    }

    &:hover {
      .plugin-endcard-overlay {
        opacity: 1;
      }
    }
  }

  .plugin-endcard-revolverplay-icon {
    margin-bottom: $endcard-plugin-spacing-large;
  }

  .plugin-endcard-button-pause {
    transition: all 0.4s;

    &:hover {
      background-color: $endcard-plugin-button-pause-bg-color-hover;
    }
  }
}
